@media only screen and (max-width: 960px) {

    /* ALL SECTIONS */

    .scrollbar-section{
        height: unset;
    }

    .container{
        width: 85vw;
        margin-bottom: 40px;
    }

    .contents {
        width: 75vw;
    }

    /* SECTION: HOME */

    #home {
        padding-top: 80px;
    }

    /* NAVIGATION BAR */

    .menu { 
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 60px;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: lavenderblush;

        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
    }

    .menu > li {
        border-bottom: 1px solid rgb(42, 40, 40);
    }

    .menu > li:hover {
        border-bottom: 1.5px solid lightseagreen;
    }

    .logo-menu {
        cursor: pointer;
    }

    .menu-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
    }

    .logo-X .line1 {
        transform: rotate(-45deg) translate(-7px, 5px ) ;
    }

    .logo-X .line2 {
        opacity: 0;
    }

    .logo-X .line3 {
        transform: rotate(45deg) translate(-7px, -5px) ;    
    }

    /* CONTENT: HOME */

    .starting-text-hide {
        transform: translateX(-150%);
        transition: transform 0.5s ease-in;
    }   

    .starting-text h1 {
        font-size: 5vw;
    }

    .starting-text h2 {
        font-size: 4vw;
    }

    /* SECTION: ABOUT */

    #about img { 
        width: 150px;
        height: 150px;  
    }

    #about picture {
        display: flex;
        float: none;
        width: 100%;
        justify-content: center;
        padding: auto;
    }

    /* SECTION: CONTACTS */

    #contacts {
        padding-bottom: 200px;
    }

    form {
        width: 60vw;
    }

    .form,
    .form input[type='text'], 
    .form input[type='email'],
    .form textarea {
        width: 50vw;
    } 

    .contact-info { 
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;  
    }

    /* FOOTER */

    footer {
        height: 200px;
    }
}


@media only screen and (max-height: 620px) {

    .scrollbar-section, .container {
        height: unset;
    }

    .scrollbar-container {
        scroll-snap-type: y proximity;
    }

    #contacts {
        height: unset;
    }

}