@media only screen and (max-width: 960px) {

    .scrollbar-section, .container, footer {
        height: unset;
    }

    .contents {
        width: 75vw;
    }

    .menu { 
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 60px;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: lightseagreen;

        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
    }

    .menu > li {
        border-bottom: 1px solid lavenderblush;
    }

    .menu > li:hover {
        border-bottom: 1.5px solid lightseagreen;
    }

    .logo-menu {
        cursor: pointer;
    }

    .menu-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
    }

    .logo-X .line1 {
        transform: rotate(-45deg) translate(-7px, 5px ) ;
    }

    .logo-X .line2 {
        opacity: 0;
    }

    .logo-X .line3 {
        transform: rotate(45deg) translate(-7px, -5px) ;    
    }

    .starting-text-hide {
        transform: translateX(-150%);
        transition: transform 0.5s ease-in;
    }

    .resize-slides {
        display: flex;
        position: absolute;
        top: -1px;
        right: 15px;
        transform: rotate(90deg);
        z-index: 2;
        font-size: 13px;
        font-weight: bold;
        border-radius: 100%;
        padding: 3px;
    }

    .close-slides {
        display: none;
    }

    .open-slides-active {
        display: none;
    }

    .close-slides-active {
        display: inline;
        font-size: 12px;
        padding: 4px;
    }

    .presentation-active {
        width: 550px;
        height: 248.57px;
    }

    .iframe-container-active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vh;
        transform: rotate(270deg);
        position: relative;
        z-index: 1;
    }

    .projects-section-active {
        scroll-snap-align: unset; 
    }

    .scrollbar-active {
        
        overflow: hidden;
        background-color: rgb(42, 40, 40);
    }

    .game-active {
        width: 0;
    }
    

}

@media only screen and (min-width: 961px) {

    .scrollbar-container {
        scroll-snap-type: y mandatory;
    }

    .logo-menu {
        display: none;
    }

    .contents {
        width: 800px;
    }

    #about picture {
        float: left;
    }

    #about img {
        margin: 0 25px 10px 0;
    }
/* 
    #contacts {
        height: 90vh;
    } */

    .projects-container { 
        position: relative;
        width: 823px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .presentation {
        transition: width 3s ease;
    }

    .presentation:hover {

        transition: width 3s ease;

        position: absolute;
        top: -27px;
        left: -10px;
        width: 770px;
        height: 348px;
        z-index: 1;
    }

    .game {
        transition: width 3.5s ease;
    }

    .game-transitionstart {
        width: 0;
        transition: width 2.5s ease;
    }

    .contact-info { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
    }

    .contact-info h3 {
        margin-right: 12px;
    }

    footer {
        justify-content: space-around; 
        height: 62px; 
    }
}

@media only screen and (max-height: 620px) {

    .scrollbar-section, .container {
        height: unset;
    }

    .scrollbar-container {
        scroll-snap-type: y proximity;
    }

    #contacts {
        height: unset;
    }

}