* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 55, 55);
    text-align: center;     
}

h1, h2 {
    margin: 10vmin ;
}

h2 {
    font-size: x-large;
}

a {
    text-decoration: none;
    color: rgb(56, 55, 55);
    margin: auto;
    text-align: center;
}

td {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 18vh;
    height: 18vh;
    cursor: pointer;
}

table {
    box-sizing: border-box;
    margin: auto;
}

.page {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: teal;
    box-shadow: inset 10px 10px 5px rgb(56, 55, 55);
}

button {
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 55, 55);
    font-size: 8vmin;
    font-weight: bold;
    text-align: center;
}

button:focus {
    outline: none;
}

#introduction button {
    width: 50vh;
    height: 50vh;  
    border: none;
    font-weight: 550;
    box-shadow: 10px 10px 5px rgb(56, 55, 55);  
}

#introduction button:hover {
    font-weight: 900;
}

#introduction button:active {
    box-shadow: none;
    transform: translateX(5px);
    transform: translateY(5px);
}

.choise {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vh;
    margin: auto;
}

#choise-sign {
    display: flex;
    justify-content: center;
    font-size: 4vmax;  
}

.choise button {
    
    border-radius: 5px;
    background-color: seashell;
    border: 2px solid rgb(56, 55, 55);
    font-weight: bold;
    width: 18vh;
    height: 18vh;
}

.choise button:active {
    box-shadow: inset 2px 2px 1px rgb(56, 55, 55);
}

.sheet {
    background-color: seashell;
    width: 80vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(56, 55, 55);
}

#match .sheet{
    display: flex;
    width: 60vh;
    
}

.central-row {
    border-top: 4px solid rgb(56, 55, 55);
    border-bottom: 4px solid rgb(56, 55, 55);
}

.central-column {
    border-left: 4px solid rgb(56, 55, 55);
    border-right: 4px solid rgb(56, 55, 55);
}

.turn-back{
    position: absolute;
    bottom: 10px;
    left: 10px;

    width: 40px;
    height: 40px;
    
    box-shadow: 10px 10px 5px rgb(56, 55, 55);
    font-size: large;   
}

.turn-back:active {
    box-shadow: none;
    transform: translateX(5px);
    transform: translateY(5px);
}

.close {
    position: absolute;
    top: 7px;
    right: 10px;

    width: 40px;
    height: 40px;
    background-color: salmon;
    
    box-shadow: 10px 10px 5px rgb(56, 55, 55);
    font-size: large; 
}

.turn {
    font-size: 30px;
}

.cross {
    position: absolute;
    top: -4px;
    right: 9px;
    font-size: 30px;
}

.close:active {
    box-shadow: none;
    transform: translateX(5px);
    transform: translateY(5px);
}

#result h2 {
    margin-bottom: 20px;
}

.play-again {
    background-color: seashell;
    padding: 15px;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid rgb(56, 55, 55);
}

.play-again:active {
    box-shadow: inset 2px 2px 1px rgb(56, 55, 55);
}

